    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
    * {
        padding: 0;
        font-family: "Poppins", sans-serif;
        margin: 0;
        box-sizing: border-box;
    }
    .left >*::selection,
    .left::selection{
        color: black;
        background: white;
    }
    
    body {
       
        background-image: url("../img/background.jpg");
        background-position: center;
        width: 100vw;
        min-height: 100vh;
        font-family: "Poppins";
    }
    
    .title {
        font-size: 1.5rem;
    }
    
    .container {
        min-width: 100vw;
        min-height: 100vh;
        background: rgba(0, 0, 0, 0.479);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container>.left,
    .container>.right {
        flex: 1;
    }
    
    .right {
        margin-left: 5rem;
    }
    
    .left {
        width: 100%;
        height: 100vh;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        flex-direction: column;
    }
    
    .left h1 {
        font-style: italic;
    }
    
    .signup-container {
        width: 400px;
        background: white;
        box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.253);
        border-radius: 10px;
        padding: 20px 30px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all 0.5s ease-in-out;
    }
    
    .top {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }
    
    .top .line {
        background: black;
        height: 1px;
    }
    
    .line-1 {
        width: 10%;
        margin-right: 10px;
    }
    
    .line-2 {
        width: 100%;
        margin-left: 10px;
    }
    
    .signup-field {
        list-style: none;
    }
    
    .signup-field li {
        margin-bottom: 40px;
        position: relative;
        margin-inline: 30px;
    }
    
    input {
        border: none;
        width: 100%;
        border-bottom: 1px solid rgb(144, 144, 144);
        outline: none;
        font-size: 0.8rem;
        padding: 8px 0;
        color: rgb(28, 28, 28);
        font-weight: 500;
    }
    
    .signup-container .signup-btn {
        margin-inline: 10%;
        width: 80%;
        height: 50px;
        border-radius: 10px;
        border: none;
        background: rgb(91, 112, 246);
        color: white;
        cursor: pointer;
        transition: all 0.1s ease-in;
    }
    .signup-container.false > #error {
        scale: 1;
        margin-bottom: 2rem;
    }
    #error {
        text-align: center;
        color: red;
        scale: 0;
        transition: margin-bottom 0.2s ease;
    }
    #error::before{
        content: '*';
    }
    .signup-container .signup-btn:hover {
        background: rgb(73, 98, 255);
    }
    
    input:focus~label {
        transform: translateY(-20px);
        font-size: 0.7rem;
    }
    
    input:valid~label {
        transform: translateY(-20px);
        font-size: 0.7rem;
    }
    
    .signup-field li label {
        position: absolute;
        bottom: 8px;
        left: 0;
        pointer-events: none;
        transition: all 0.2s ease;
        color: rgb(94, 94, 94);
    }
    
    .input-line {
        position: absolute;
        height: 2px;
        width: 0%;
        bottom: 0;
        background: #654ea3;
        transition: all 0.8s ease;
    }
    
    input:focus~.input-line {
        width: 100%;
    }
    
    .login {
        display: flex;
        flex-wrap: nowrap;
        margin: 20px 20px 20px 0;
        justify-content: flex-end;
        font-size: 12px;
        color: rgb(147, 147, 147);
    }
    
    .login span a {
        text-decoration: none;
        color: rgb(59, 187, 114);
        font-weight: 600;
    }
    
    .signup-field>li>i {
        font-size: 16px;
        position: absolute;
        right: 8px;
        color: rgb(94, 94, 94);
        bottom: 8px;
        cursor: pointer;
    }
    
    .fPass {
        margin-left: 2rem;
        color: #666666;
        font-size: 0.8rem;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
    }
    
    .fPass>a ,
    .fPass>span >a {
        cursor: pointer;
        color: #666666;
        text-decoration: none;
        transition: color 0.25s ease;
    }
    
    .fPass>a:hover,
    .fPass>span >a:hover {
        color: rgb(112, 163, 112);
    }
    
     
    
    .round {
        width: 0;
        height: 0;
        background: #ccc;
        border-radius: 50%;
        margin: auto;
        position: relative;
        align-items: center;
        overflow: hidden;
        border: 2px solid #85858556;
        scale: 0;
        transition: all 0.25s cubic-bezier(.17,.67,.21,1.39) ;
    }
    
    .round.show {
        width: 5rem;
        height: 5rem;
        scale: 1;
    }
    
    .profilePic {
        width: 100%;
        margin-bottom: 2rem;
    }
    
    .pic {
        position: absolute;
        top: -15%;
        left: -35%;
    }
    
    .pic img {
        width: 8rem;
        height: 8rem;
        object-fit: contain;
    }